<!DOCTYPE html> 
<html>
  <%- include('./share/_header', { serverMode: false }) %>
  <body>
    <%- include('./page_list/_list', { serverMode: false }) %>
    <%- include('./page_detail/_detail') %>
    <div class="ui-loader-background"> </div>
  </body>
</html>
