<div data-role="popup" id="multiple_data_create"  data-overlay-theme="b" data-dismissible="false" data-position-to="window" style="min-width:300px;">
  <div data-role="header">
    <h1>Multiple Data Create</h1>
  </div>
  <div role="main" class="ui-content">
    <form>
      <label for="start_position">StartPosition</label>
      <p id="insert-point">No.11</p>
      <label for="p-template-file">TemplateFile</label>
      <input type="file" name="p-template-file" id="p-template-file" value="" />
      <p id="p-template-file-error" class="error"></p>
      <label for="p-multiple-data-create-frequency-from">Frequency</label>
      <select id="p-multiple-data-create-frequency-from">
        <option value="frequency-list-file">From FrequencyListFile</option>
        <option value="frequency-input">From Input</option>
      </select>
      <div id="p-multiple-data-create-frequency-option">
        <div id="p-from-frequency-list-file">
          <label for="p-frequency-list-file">Frequency List File</label>
          <input type="file", name="p-frequency-list-file" id="p-frequency-list-file" />
          <p id="p-frequency-list-file-error" class="error"></p>
        </div>
        <div id="p-from-input">
          <label for="p-start-frequency">Start Frequency (MHz)</label>
          <input type="number" name="p-start-frequency" id="p-start-frequency" value=""></input>
          <p id="p-start-frequency-error" class="error"></p>
          <label for="p-step-frequency">Step Frequency (MHz)</label>
          <input type="number" name="p-step-frequency" id="p-step-frequency" value=""></input>
          <p id="p-step-frequency-error" class="error"></p>
          <label for="p-number-of-additional-channels">Number of additional channels</label>
          <input type="number" name="p-number-of-additional-channels" id="p-number-of-additional-channels" value=""></input>
          <p id="p-number-of-additional-channels-error" class="error"></p>
        </div>
      </div>
      <a href="#" class="ui-btn" id="p-multiple-data-create-btn">Create</a>
      <a href="#" class="ui-btn" id="multiple_data_create_cancel">Cancel</a>
    </form>
  </div>
</div>
