<div data-role="popup" id="new_file" data-overlay-theme="b" data-dismissible="false" data-position-to="window" style="min-width:300px;">
  <div data-role="header">
    <h1>New File</h1>
  </div>
  <div role="main" class="ui-content">
    <form>
      <label for="new-file-type" class="select">FileType</label>
      <select name="new-file-type" id="new-file-type">
        <option value="memory-channel-file">Memory Channel File</option>
        <option value="template-file">Template File</option>
      </select>
      <label for="new-file-model" class="select">Model</label>
      <select name="new-file-model" id="new-file-model">
        <option value="AR-DV1">AR-DV1</option>
        <option value="AR-DV10">AR-DV10</option>
      </select>
      <div style="margin-top: 13px;">
        <a href="#" class="ui-btn" id="create-file">Create</a>
        <a href="#" class="ui-btn" id="new-cancel">Cancel</a>
      </div>
    </form>
  </div>
</div>
