<div data-role="popup" id="p-save-file" data-overlay-theme="b" data-dismissible="false" data-position-to="window" style="min-width:300px;">
  <div data-role="header">
    <h1>Save File</h1>
  </div>
  <div role="main" class="ui-content">
    <form>
      <label for="model" class="select">Model</label>
      <select name="model" id="model">
        <option value="AR-DV1">AR-DV1</option>
        <option value="AR-DV10">AR-DV10</option>
      </select>
      <label for="p-save-filename">File Name</label>
      <input type="text" name="p-save-filename" id="p-save-filename" />
      <p class="error" id="p-save-filename-error"></p>
      <p>The file name can be up to 8 characters.</p>
      <a href="#" class="ui-btn" id="export_csv">Save</a>
      <a href="#" class="ui-btn" id="save_cancel">Cancel</a>
    </form>
  </div>
</div>
