<div data-role="popup" id="fn-info"  data-overlay-theme="b" data-dismissible="false" data-position-to="window" style="min-width:300px;">
  <div data-role="header">
    <h1>Selected</h1>
  </div>
  <div role="main" class="ui-content">
    <p id="fn-info-message"></p>
    <a href="#" class="ui-btn" id="fn-info-close">Close</a>
  </div>
  </div>
