<div data-role="popup" id="fn-settings" data-overlay-theme="b" data-dismissible="false" data-position-to="window" style="min-width:300px;">
  <div data-role="header">
    <h1>Settings</h1>
  </div>
  <div role="main" class="ui-content">
    <a href="#" class="ui-btn" id="fn-settings-update">Update</a>
    <a href="#" class="ui-btn" id="fn-settings-close">Close</a>
  </div>
</div>
