<div data-role="popup" id="p-sort" data-overlay-theme="b" data-dismissible="false" data-position-to="window" style="min-width:300px;">
  <div data-role="header">
    <h1>Sort</h1>
  </div>
  <div role="main" class="ui-content">
    <table>
      <thead>
        <tr>
          <th>Priority</th>
          <th>Row</th>
          <th>Sort</th>
        </tr>
      </thead>
      <tbody id="p-sort-options">
        <tr>
          <td>1</td>
          <td>Frequency</td>
          <td>
            <select id="frequency-sort">
              <option value="ASC">ASC</option>
              <option value="DESC">DESC</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Mode</td>
          <td>
            <select id="mode-sort">
              <option value="ASC">ASC</option>
              <option value="DESC">DESC</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="ui-btn" id="execute-sort-btn">Sort</a>
    <a href="#" class="ui-btn" id="sort-cancel-btn">Cancel</a>
  </div>
</div>
