<div data-role="popup" id="fn-warning"  data-overlay-theme="b" data-dismissible="false" data-position-to="window" style="min-width:300px;">
  <div data-role="header">
    <h1>Warning</h1>
  </div>
  <div role="main" class="ui-content">
    <p id="fn-warning-message"></p>
    <a href="#" class="ui-btn" id="fn-warning-ok">OK</a>
    <a href="#" class="ui-btn" id="fn-warning-close">Close</a>
  </div>
</div>
